<div>
    <div>
        <h1 style="text-align: center;">Infografía Jugadores</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card" *ngFor="let futbol of futbol ">
                <img class="card-img-top" [src]="futbol.img">
                <div class="card-body">
                    <h5>{{futbol.nombre}}</h5>
                    <p>{{futbol.bio}}</p>
                    <p>{{futbol.img}}</p>
                    <p>{{futbol.nacimiento}}</p>
                    <p>{{futbol.seleccion}}</p>
                    <p>{{futbol.equipo}}</p>
                </div>
                <div>
                    <a [routerLink]="['../pagemesi']">
                        <h3 style="text-align: center;">{{futbol.nombre}}</h3>
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>



<div style="margin: auto !important; padding-right: 30%; padding-left: 30%;">
    <div class="row">
        <div class="col-lg-4">
            <a [routerLink]="['../pagemesi']">
                <img src="../../../../assets/img/messi.jpg" alt="" height="200">
            </a>
            <h3 style="text-align: center;">Messi</h3>
        </div>
        <div class="col-lg-4">
            <a [routerLink]="['../pageronaldo']">
                <img src="../../../../assets/img/ronaldo.jpg" alt="" height="200">
            </a>
            <h3 style="text-align: center;">Ronaldo</h3>
        </div>
        <div class="col-lg-4">
            <a [routerLink]="['../pagejames']">
                <img src="../../../../assets/img/james.jpg" alt="" height="200">
            </a>
            <h3 style="text-align: center;">James</h3>
        </div>
    </div>
</div>