<br>
<br>
<div style="margin: auto !important; padding-right: 30%; padding-left: 30%;">
    <div class="row">
        <div class="col-lg-4">
            <a [routerLink]="['../pagemesi']">
                <img src="../../../../assets/img/messi.jpg" alt="" height="200">
            </a>
            <h3 style="text-align: center;">Messi</h3>
        </div>
        <div class="col-lg-4">
            <a [routerLink]="['../pageronaldo']">
                <img src="../../../../assets/img/ronaldo.jpg" alt="" height="200">
            </a>
            <h3 style="text-align: center;">Ronaldo</h3>
        </div>
        <div class="col-lg-4">
            <a [routerLink]="['../pagejames']">
                <img src="../../../../assets/img/james.jpg" alt="" height="200">
            </a>
            <h3 style="text-align: center;">James</h3>
        </div>
    </div>
</div>